.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #111827;
  margin: 30;
  gap: 10px;
}

.app-background {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

.app-body {
  width: 100%;
  background: white;
}

.app-footer {
  display: flex;
  height: 80px;
  width: 100%;
  gap: 20px;
  background: #111827;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #f8f9fd;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #f8f9fd;
}
.searchBox {
  width: 200px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px #4002f9;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  color: #9dbfaf;
}
.searchTerm:focus {
  color: rgb(184, 118, 20);
}
